<div class='page-header page-header-with-buttons'>
  <h1 class='pull-left'>
    <i class='icon-rss'></i>
    <span><%= t('activerecord.models.notification.other') %></span>
  </h1>
  <!-- <div class='pull-right'>
    <div class='btn-group'>
      <a class="btn btn-white hidden-xs" href="#">Last month</a>
      <a class="btn btn-white" href="#">Last week</a>
      <a class="btn btn-white " href="#">Today</a>
            <a class="btn btn-white" id="daterange" href="#"><i class='icon-calendar'></i>
      <span>Custom</span>
      <b class='caret'></b>
      </a>
    </div>
  </div> -->
</div>