<div class='page-header page-header-with-buttons'>
  <h1 class='pull-left'>
    <i class='icon-user'></i>
    <span>
      <%= t('activerecord.models.group.other') %>
      <% if action_name.eql?('dashboard') %>
        - <%= @group.title %>
      <% end %>
    </span>
  </h1>
</div>