<div class='page-header page-header-with-buttons'>
  <h1 class='pull-left'>
    <% if action_name.eql?('dashboard') %>
      <i class='icon-dashboard'></i>
      <span><%= t('breadcrumbs.pages.general_view') %></span>
    <% elsif action_name.eql?('calendar') %>
      <i class='icon-calendar'></i>
      <span><%= t('breadcrumbs.pages.calendar') %></span>
    <% elsif action_name.eql?('report') %>
      <i class='icon-list-alt'></i>
      <span><%= t('breadcrumbs.pages.reports') %></span>
    <% elsif action_name.eql?('chart') %>
      <i class='icon-signal'></i>
      <span><%= t('breadcrumbs.pages.charts') %></span>
    <% end %>
  </h1>
</div>
