<div class='box'>
  <div class='box-header'>
    <div class='title'>
      <%= t('helpers.charts.goal_bar_chart') %>
    </div>
    <div class='actions'>
      <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
      </a>
      
      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
      </a>
    </div>
  </div>
  <div class='box-content'>
    <div id='bar_chart' style="height:300px;" data-url="<%= chart_goals_url(format: :json) %>"></div>
  </div>
</div>
