/* Footer
-------------------------------------------------- */
footer#footer {
	min-height: 260px;
	margin-top: 140px;
	background-color: #252528;
	color: #fff;
	padding-top: 35px;

	.footer_header {
		color: rgb(196, 196, 196);
		font-style: italic;
		font-weight: 300;
		font-size: 25px;
		margin-bottom: 40px;
		margin-left: 15px; 
	}

	/* recent posts */
	.recent_posts {
		margin-left: 0px;
	}
	.recent_posts .post {
		margin-bottom: 70px;
		width: 93%;
	}
	.recent_posts .post img {
		float: left;
		margin-right: 20px;
	}
	.recent_posts .post .date {
		font-weight: bold;
		font-style: italic;
	}
	.recent_posts .post .title {
		display: block;
		color: #b5b5b6;
		font-size: 14px;
	}

	/* testimonials */
	.testimonials .wrapper {
		margin: 0 auto;
		width: 82%;
	}
	.testimonials .footer_header {
		margin-left: 30px;
	}
	.testimonials .quote {
		color: rgb(191, 191, 192);
	}
	.testimonials .quote span {
		font-size: 32px;
		font-style: italic;
		position: relative;
		top: 5px;
		font-family: Georgia !important;
		float: left;
		margin-right: 8px;
	}
	.testimonials .author {
		margin-top: 40px;
	}
	.testimonials .author img {
		float: left;
		margin-right: 15px;
		position: relative;
		top: -6px;
	}
	.testimonials .name {
		font-size: 13px;
		font-weight: bold;
	}
	.testimonials .info {
		font-style: italic;
		color: #ccc;
	}

	/* contact */
	.contact {
		text-align: right;
		margin-left: 35px;
	}
	.contact .footer_header {
		text-align: left;
		margin-left: 35px;
	}
	.contact input[type="text"],
	.contact textarea {
		border: none;
		background-color: #1f1f21;
		padding: 8px 20px;
		border-radius: 3px;
		font-size: 14px;
		font-family: Lato !important;
		width: 80%;
		-webkit-transition: background-color .2s linear;
		-moz-transition: background-color .2s linear;
	}
	.contact input[type="text"]:focus,
	.contact textarea:focus {
		border: none;
		box-shadow: none;
		background-color: #000;
	}
	.contact input[type="text"]:-moz-placeholder,
	.contact textarea:-moz-placeholder {
	  color: #868687;
	}
	.contact input[type="text"]::-webkit-input-placeholder,
	.contact textarea::-webkit-input-placeholder {
	  color: #868687;
	}
	.contact input[type="text"]:-ms-input-placeholder,
	.contact textarea:-ms-input-placeholder {
	  color: #868687;
	}
	.contact input[type="submit"] {
		background-color: #3e3e40;
		border: none;
		color: #fff;
		border-radius: 4px;
		padding: 5px 20px;
		font-size: 14px;
		font-weight: bold;
		-webkit-transition: background-color .2s linear;
		-moz-transition: background-color .2s linear;
	}
	.contact input[type="submit"]:hover {
		background-color:#2190DB;
	}
	.credits {
		border-top: 1px solid #343437;
		padding: 10px 0px 60px 0px;
	}
	.credits .social {
		margin-top: 30px;
		text-align: center;
	}
	.credits .social a {
		margin: 10px;
	}
	.credits .copyright {
		color: #a6a6a7;
		font-style: italic;
		text-align: center;
		margin-top: 30px;
	}
	.credits .social a {
		margin: 10px;
	}
	.credits .social a span{
		display: inline-block;
		width: 33px;
		height: 33px;
	}
	.credits .social span.ico1,
	.credits .social span.ico1h{
		background-position: 0px 0px;
	}
	.credits .social span.ico2,
	.credits .social span.ico2h{
		background-position: -37px 0px;
	}
	.credits .social span.ico3,
	.credits .social span.ico3h{
		background-position: -75px 0px;
	}
	.credits .social span.ico4,
	.credits .social span.ico4h{
		background-position: -112px -1px;
	}
	.credits .social span.ico5,
	.credits .social span.ico5h{
		background-position: -151px 0px;
	}
	.credits .social span.ico6,
	.credits .social span.ico6h{
		background-position: -188px -1px;
	}
	.credits .social span.ico7,
	.credits .social span.ico7h{
		background-position: -226px 0px;
	}
	.credits .social a:hover span.socialicons{
		display: none;
	}
	.credits .social a:hover span.socialicons_h{
		display: inline-block !important;
	}
	.credits .social span.socialicons_h{
		display: none;
	}
	.socialicons{
		/*background: url('../img/socialicons.png') no-repeat;*/
		width: 265px;
		height: 36px;
	}
	.socialicons_h{
		/*background: url('../img/socialicons_h.png') no-repeat;*/
		width: 265px;
		height: 36px;
	}

	/*Inner Footer*/
	.info{
		margin-bottom: 10px;
		margin-left: 0;
	}
	.info .residence{
		margin-left: 0;
	}
	.info ul{
		margin: 0;
		padding: 0;
	}
	.info ul li{
		list-style: none;
		font-size: 16px;
		color: #777E83;
		line-height: 23px;
	}
	.info ul a{
		color: #777E83;
		-webkit-transition: color .2s;
		-moz-transition: color .2s;
		-ms-transition: color .2s;
		transition: color .2s;
	}
	.info ul a:hover{
		color: #A9B4BB;
	}
	.info .touch{
		float: right;
	}
	.info .touch ul li{
		display: inline-block;
		margin-left: 30px;
	}
}