.dashboard-hr-account {
	margin: 0px;
}

.accounts_general {
	cursor: pointer;
	h5 {
		margin: 3px 0px;
	}
	h4 {
		margin: 5px 0px;
	}
	h3 {
		margin: 10px 0px;
	}
}

.details {
	hr{
		margin-top: 0px;
		margin-bottom: 10px;
	}
}

.bills_general {
	cursor: pointer;
}

.launch_type_icon {
	padding-top: 20px;
	position:absolute;
	left:10px;
}

.paid_icon {
	padding-top: 20px;
	position:absolute;
	right:10px;
}

.search_loading {
	margin-left: 15px;
	margin-top: -4px;
	display: none;
}

.no_launches {
	text-align: center;
}