.dashboard-hr-account {
	margin: 0px;
}

.accounts_general {
	cursor: pointer;
}

.launch_type_icon {
	padding-top: 20px;
	position:absolute;
	left:10px;
}

.paid_icon {
	padding-top: 20px;
	position:absolute;
	right:10px;
}

.search_loading {
	margin-left: 15px;
	margin-top: -4px;
	display: none;
}

.no_launches {
	text-align: center;
}